.dvInput.input-group .form-control.b-radius-0 {
    border-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}


.dvHotelDetails .dvThumbSwiperSlider .mySwiper2 .img-container {
    padding-bottom: 50%;
    border-radius: var(--b-radius);
}

/* .dvHotelDetails .dvThumbSwiperSlider .swiper-button-next,
.dvHotelDetails .dvThumbSwiperSlider .swiper-button-prev {
    display: none;
} */

.dvHotelDetails .dvThumbSwiperSlider .mySwiper {
    display: none;
}

.dvHotelDetails .dvThumbSwiperSlider .swiper-button-prev i,
.dvHotelDetails .dvThumbSwiperSlider .swiper-button-next i {
    padding: .75rem .9rem;
    border-radius: 50%;
}